.grid {
  display: grid;
  grid-template-columns: calc(66% - 5px) calc(34% - 5px);
  grid-template-rows: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px;
  aspect-ratio: 16 / 9;
}

.grid .left {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
}

.grid .upper_right {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.grid .lower_right {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.grid .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-table th,
.custom-table td {
  vertical-align: middle;
  text-align: center;
}
.custom-table th {
  background-color: #f8f9fa;
}
